.footer {
  background-color: #0a2850;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.footer__content {
  position: relative;
  width: calc(100% - 160px);
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  width: 105px;
  height: 39px;
  position: relative;
  z-index: 2;
}

.footer__circle {
  position: absolute !important;
  width: 340px !important;
  height: 340px !important;
  background-color: #2f80ed !important;
  border-radius: 50% !important;

  top: 0 !important;
  left: 0 !important;
  transform: translate(-44px, -128px) !important;
  z-index: 1 !important;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.footer__social-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item {
  margin-top: 20px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 16px;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-top: 108px;
  margin-left: 80px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
}
