.form {
  width: 100%;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  margin: 32px 0;
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
