.nav {
  display: flex;
  align-items: center;
  padding: 30px 80px 0 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #2f80ed;
}
