.recipes {
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 480px);
  gap: 24px 40px;
  justify-content: center;
}

.recipes__video-item {
  width: 480px;
  height: 273px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.recipes__video-caption {
  margin-top: 8px;
}
