.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 40px;
}

.header__nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 30px 80px 0 30px;
}

.header__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  position: absolute;
  top: 183px;
  left: 80px;
  max-width: 709px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #000000;
  z-index: 2;
}

.span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
}

.header__title-line {
  display: block;
  margin-top: 8px;
}

.header__description {
  position: absolute;
  top: 326px;
  left: 80px;
  max-width: 683px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #6f6f6f;
  z-index: 2;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 80px;
  z-index: 2;
}

.header__footer__paragraph {
  position: absolute;
  bottom: 40px;
  left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6f6f6f;
  margin: 0;
}

.header__footer__address {
  position: absolute;
  bottom: 40px;
  right: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6f6f6f;
  margin: 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: 1;
}
