.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header__nav {
  display: flex;
  align-items: center;
  padding: 30px 80px 0 30px;
}

.header__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  position: absolute;
  top: 183px;
  left: 80px;
  max-width: 709px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #000000;
}

.span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
}

.header__title-line {
  display: block;
  margin-top: 8px;
}

.header__description {
  position: absolute;
  top: 326px;
  left: 80px;
  max-width: 683px;
  font-size: 18px;
  line-height: 1.5;
  color: #6f6f6f;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer__paragraph {
  position: absolute;
  bottom: 40px;
  left: 80px;
  color: #6f6f6f;
}

.header__footer__address {
  position: absolute;
  bottom: 40px;
  right: 80px;
  color: #6f6f6f;
}

.recipes {
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 24px 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 480px);
  gap: 24px 40px;
  justify-content: center;
}

.recipes__video-item {
  width: 480px;
  height: 273px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.recipes__video-caption {
  margin-top: 8px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0 auto 80px;
  max-width: 385px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
}

.form {
  width: 100%;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #838383;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  margin: 32px 0;
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
